Repository avivsarig/gtd: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-typecheck, backend-test, frontend-lint, frontend-typecheck, frontend-test

backend-lint:
  name: Backend Lint
  entry: make lint-be
  language: system
  pass_filenames: false
  stages:
  - commit

backend-typecheck:
  name: Backend TypeCheck
  entry: make typecheck-be
  language: system
  pass_filenames: false
  stages:
  - commit

backend-test:
  name: Backend Tests
  entry: make test-be
  language: system
  pass_filenames: false
  stages:
  - commit

frontend-lint:
  name: Frontend Lint
  entry: make lint-fe
  language: system
  pass_filenames: false
  stages:
  - commit

frontend-typecheck:
  name: Frontend TypeCheck
  entry: make typecheck-fe
  language: system
  pass_filenames: false
  stages:
  - commit

frontend-test:
  name: Frontend Tests
  entry: make test-fe
  language: system
  pass_filenames: false
  stages:
  - commit

refactor: reduce makefile complexity
  Makefile
Due: none

refactor: fix update tesk field
  .claude/status.md
  backend/app/controllers/task_controller.py
Due: backend-lint, backend-typecheck, backend-test

refactor: UUID handling unified
  .claude/status.md
  backend/app/core/uuid_utils.py
  backend/app/models/mixins.py
  backend/tests/fixtures/factories.py
  backend/tests/unit/test_uuid_utils.py
Due: backend-lint, backend-typecheck, backend-test

refactor: extract hardcoded messages to centralized constants file
  frontend/src/components/ContextManager.tsx
  frontend/src/components/UniversalCapture.tsx
  frontend/src/lib/messages.ts
  frontend/src/routes/Home.tsx
  frontend/src/routes/Inbox.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

refactor: error handling utils
  frontend/src/components/QuickCapture.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/errorHandling.test.ts
  frontend/src/lib/errorHandling.ts
  frontend/src/lib/messages.ts
  frontend/src/lib/validation.test.ts
  frontend/src/lib/validation.ts
Due: frontend-lint, frontend-typecheck, frontend-test

refactor(FE): submission and resources
  frontend/src/hooks/useAsyncAction.test.ts
  frontend/src/hooks/useAsyncAction.ts
  frontend/src/hooks/useFormSubmission.test.ts
  frontend/src/hooks/useFormSubmission.ts
  frontend/src/hooks/useResourceLoader.test.ts
  frontend/src/hooks/useResourceLoader.ts
Due: frontend-lint, frontend-typecheck, frontend-test

refactor(FE): apply hooks to form compnents
  frontend/src/components/ContextManager.tsx
  frontend/src/components/QuickCapture.tsx
  frontend/src/components/UniversalCapture.tsx
  frontend/src/lib/errorHandling.test.ts
  frontend/src/lib/errorHandling.ts
Due: frontend-lint, frontend-typecheck, frontend-test

refactor(FE): errors, hooks, resources
  .claude/status.md
  frontend/src/components/ContextManager.tsx
  frontend/src/components/QuickCapture.tsx
  frontend/src/components/UniversalCapture.tsx
  frontend/src/hooks/useAsyncAction.test.ts
  frontend/src/hooks/useAsyncAction.ts
  frontend/src/hooks/useFormSubmission.test.ts
  frontend/src/hooks/useFormSubmission.ts
  frontend/src/hooks/useResourceLoader.test.ts
  frontend/src/hooks/useResourceLoader.ts
  frontend/src/lib/api.ts
  frontend/src/lib/errorHandling.test.ts
  frontend/src/lib/errorHandling.ts
  frontend/src/lib/messages.ts
  frontend/src/lib/validation.test.ts
  frontend/src/lib/validation.ts
  frontend/src/routes/Home.tsx
  frontend/src/routes/Inbox.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

refactor(FE): base select added
  .claude/status.md
  frontend/src/components/ContextSelect.tsx
  frontend/src/components/NoteForm.tsx
  frontend/src/components/ProjectSelect.tsx
  frontend/src/components/QuickCapture.tsx
  frontend/src/components/StatusSelect.tsx
  frontend/src/components/UniversalCapture.tsx
  frontend/src/components/ui/select.test.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/hooks/useAsyncAction.test.ts
  frontend/src/hooks/useAsyncAction.ts
  frontend/src/hooks/useFormSubmission.test.ts
  frontend/src/hooks/useFormSubmission.ts
  frontend/src/hooks/useResourceLoader.test.ts
Due: frontend-lint, frontend-typecheck, frontend-test

refactor(project controller): duplicated dict fixed
  .claude/status.md
  backend/app/controllers/project_controller.py
Due: backend-lint, backend-typecheck, backend-test

refactor(FE home): deconstruct a god object
  .claude/status.md
  frontend/src/components/ContextsSection.tsx
  frontend/src/components/DashboardHeader.tsx
  frontend/src/components/InboxSection.tsx
  frontend/src/components/NotesSection.tsx
  frontend/src/components/TasksSection.tsx
  frontend/src/hooks/useContextOperations.ts
  frontend/src/hooks/useInboxOperations.ts
  frontend/src/hooks/useKeyboardShortcuts.ts
  frontend/src/hooks/useModalState.ts
  frontend/src/hooks/useNoteOperations.ts
  frontend/src/hooks/useTaskOperations.ts
  frontend/src/routes/Home.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

refactor(BE): datetime duplication fixed
  .claude/status.md
  backend/app/controllers/project_controller.py
  backend/app/controllers/task_controller.py
  backend/app/repositories/project_repository.py
  backend/app/repositories/task_repository.py
  backend/tests/unit/test_task_controller.py
  backend/tests/unit/test_task_repository.py
  backend/tests/unit/test_task_schemas.py
Due: backend-lint, backend-typecheck, backend-test

refactor(FE): and env var for vite api url
  .claude/status.md
  README.md
  docker-compose.yml
  frontend/.env.example
  frontend/src/lib/api.ts
  frontend/src/lib/config.ts
  frontend/src/vite-env.d.ts
Due: frontend-lint, frontend-typecheck, frontend-test

feat(BE, projects): add stats class
  .claude/status.md
  backend/app/controllers/project_controller.py
  backend/app/schemas/project.py
Due: backend-lint, backend-typecheck, backend-test

feat(BE): introduced soft-delete to context model
  .claude/status.md
  backend/alembic/versions/28a3ca3b1465_add_soft_delete_to_contexts.py
  backend/app/api/v1/contexts.py
  backend/app/controllers/context_controller.py
  backend/app/models/context.py
  backend/app/repositories/context_repository.py
  backend/app/schemas/context.py
  backend/tests/integration/test_context_api.py
  backend/tests/unit/test_context_controller.py
  backend/tests/unit/test_context_repository.py
Due: backend-lint, backend-typecheck, backend-test

feat(FE): toast notification added
  .claude/Accessible Assets.md
  .claude/status.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/InboxSection.tsx
  frontend/src/components/TasksSection.tsx
  frontend/src/hooks/useContextOperations.ts
  frontend/src/hooks/useInboxOperations.ts
  frontend/src/hooks/useTaskOperations.ts
  frontend/src/lib/errorHandling.test.ts
  frontend/src/lib/errorHandling.ts
  frontend/src/main.tsx
  frontend/src/routes/Home.test.tsx
  frontend/src/routes/Inbox.test.tsx
  frontend/src/routes/Inbox.tsx
  frontend/src/test/setup.ts
Due: frontend-lint, frontend-typecheck, frontend-test

refactor(BE): Pydantic base schema added
  .claude/status.md
  backend/app/schemas/base.py
  backend/app/schemas/context.py
  backend/app/schemas/inbox.py
  backend/app/schemas/note.py
  backend/app/schemas/project.py
  backend/app/schemas/search.py
  backend/app/schemas/task.py
Due: backend-lint, backend-typecheck, backend-test

refactor(FE, inbox): deconstruct god object
  .claude/status.md
  frontend/src/components/InboxEmptyState.tsx
  frontend/src/components/InboxErrorState.tsx
  frontend/src/components/InboxItemDisplay.tsx
  frontend/src/hooks/useInboxKeyboardNavigation.ts
  frontend/src/routes/Inbox.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

refactor(tests): implement dependency injection with repository protocols
  .claude/status.md
  backend/app/api/v1/contexts.py
  backend/app/api/v1/inbox.py
  backend/app/api/v1/notes.py
  backend/app/api/v1/projects.py
  backend/app/api/v1/search.py
  backend/app/api/v1/tasks.py
  backend/app/controllers/context_controller.py
  backend/app/controllers/inbox_controller.py
  backend/app/controllers/note_controller.py
  backend/app/controllers/project_controller.py
  backend/app/controllers/search_controller.py
  backend/app/controllers/task_controller.py
  backend/app/dependencies.py
  backend/app/repositories/__init__.py
  backend/app/repositories/protocols.py
  backend/pyproject.toml
  backend/tests/unit/task_controller/__init__.py
  backend/tests/unit/task_controller/test_bulk_update_status.py
  backend/tests/unit/task_controller/test_complete_task.py
  backend/tests/unit/task_controller/test_create_task.py
  backend/tests/unit/task_controller/test_delete_task.py
  backend/tests/unit/task_controller/test_get_task.py
  backend/tests/unit/task_controller/test_list_tasks.py
  backend/tests/unit/task_controller/test_uncomplete_task.py
  backend/tests/unit/task_controller/test_update_task.py
  backend/tests/unit/test_context_controller.py
  backend/tests/unit/test_inbox_controller.py
  backend/tests/unit/test_note_controller.py
  backend/tests/unit/test_project_controller.py
  backend/tests/unit/test_search_controller.py
  backend/tests/unit/test_task_controller.py
Due: backend-lint, backend-typecheck, backend-test

refactor(DI): DI completed
  .claude/status.md
  backend/app/repositories/context_repository.py
  backend/app/repositories/inbox_repository.py
  backend/app/repositories/note_repository.py
  backend/app/repositories/project_repository.py
  backend/app/repositories/task_repository.py
  backend/tests/unit/test_context_repository.py
  backend/tests/unit/test_inbox_repository.py
  backend/tests/unit/test_note_repository.py
  backend/tests/unit/test_task_repository.py
  frontend/src/hooks/useAsyncAction.test.ts
Due: backend-lint, backend-typecheck, backend-test, frontend-lint, frontend-typecheck, frontend-test

refactor(BE): convert controllers to classes with DI
  .claude/status.md
  Makefile
  backend/app/api/v1/contexts.py
  backend/app/api/v1/inbox.py
  backend/app/api/v1/notes.py
  backend/app/api/v1/projects.py
  backend/app/api/v1/search.py
  backend/app/api/v1/tasks.py
  backend/app/controllers/context_controller.py
  backend/app/controllers/inbox_controller.py
  backend/app/controllers/note_controller.py
  backend/app/controllers/project_controller.py
  backend/app/controllers/search_controller.py
  backend/app/controllers/task_controller.py
  backend/app/core/base_controller.py
  backend/app/core/container.py
  backend/app/dependencies.py
  backend/app/repositories/search_repository.py
  backend/tests/unit/task_controller/test_bulk_update_status.py
  backend/tests/unit/task_controller/test_complete_task.py
  backend/tests/unit/task_controller/test_create_task.py
  backend/tests/unit/task_controller/test_delete_task.py
  backend/tests/unit/task_controller/test_get_task.py
  backend/tests/unit/task_controller/test_list_tasks.py
  backend/tests/unit/task_controller/test_uncomplete_task.py
  backend/tests/unit/task_controller/test_update_task.py
  backend/tests/unit/test_context_controller.py
  backend/tests/unit/test_inbox_controller.py
  backend/tests/unit/test_note_controller.py
  backend/tests/unit/test_project_controller.py
  backend/tests/unit/test_search_controller.py
Due: backend-lint, backend-typecheck, backend-test

refactor(FE): introduce cn() to refactor FE
  .claude/status.md
  frontend/src/components/ContextManager.tsx
  frontend/src/components/ItemCard.tsx
  frontend/src/components/NoteForm.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/components/TaskList.tsx
  frontend/src/components/ui/input.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

feat(FE): unified modal
  frontend/src/components/EntityModal.tsx
  frontend/src/components/NoteFormModal.tsx
  frontend/src/components/UniversalCapture.tsx
  frontend/src/components/form/FieldRenderer.tsx
  frontend/src/components/form/FormField.tsx
  frontend/src/components/form/MultiSelectField.tsx
  frontend/src/components/form/SelectField.tsx
  frontend/src/components/form/TextField.tsx
  frontend/src/components/form/TextareaField.tsx
  frontend/src/config/entities/contextConfig.ts
  frontend/src/config/entities/inboxConfig.ts
  frontend/src/config/entities/noteConfig.ts
  frontend/src/config/entities/projectConfig.ts
  frontend/src/config/entities/taskConfig.ts
  frontend/src/hooks/useEntityForm.ts
  frontend/src/routes/Home.tsx
  frontend/src/types/entityModal.ts
Due: frontend-lint, frontend-typecheck, frontend-test

feat(FE): add edit modal to all components
  .claude/status.md
  frontend/src/components/ContextFormModal.tsx
  frontend/src/components/ContextManager.test.tsx
  frontend/src/components/ContextManager.tsx
  frontend/src/components/ContextsSection.tsx
  frontend/src/components/InboxFormModal.tsx
  frontend/src/components/InboxSection.tsx
  frontend/src/components/TaskFormModal.tsx
  frontend/src/components/TasksSection.tsx
  frontend/src/hooks/useContextOperations.ts
  frontend/src/hooks/useInboxOperations.ts
  frontend/src/hooks/useTaskOperations.ts
  frontend/src/lib/api.ts
  frontend/src/lib/messages.ts
  frontend/src/routes/Home.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

feat(FE): add Projects UI
  .claude/status.md
  frontend/package.json
  frontend/src/components/ProjectFormModal.tsx
  frontend/src/components/ProjectsList.tsx
  frontend/src/components/ProjectsSection.tsx
  frontend/src/components/ui/progress.test.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/hooks/useContextOperations.ts
  frontend/src/hooks/useEntityOperations.test.ts
  frontend/src/hooks/useEntityOperations.ts
  frontend/src/hooks/useNoteOperations.ts
  frontend/src/hooks/useProjectOperations.ts
  frontend/src/hooks/useTaskOperations.ts
  frontend/src/lib/api.ts
  frontend/src/lib/messages.ts
  frontend/src/routes/Home.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

test: added error handling tests
  .claude/status.md
  backend/tests/integration/test_project_api.py
  backend/tests/integration/test_task_api.py
  frontend/src/lib/api.test.ts
Due: backend-lint, backend-typecheck, backend-test, frontend-lint, frontend-typecheck, frontend-test

test: add UI tests
  .claude/status.md
  frontend/src/components/ui/button.test.tsx
  frontend/src/components/ui/card.test.tsx
  frontend/src/components/ui/dialog.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

test(e2e): add e2e smoke tests with Playwright
  .gitignore
  Makefile
  README.md
  e2e/README.md
  e2e/fixtures/test-helpers.ts
  e2e/tests/smoke.spec.ts
  frontend/package-lock.json
  frontend/package.json
  package.json
  playwright.config.ts
Due: frontend-lint, frontend-typecheck, frontend-test

test(e2e): add user flow tests
  e2e/fixtures/test-helpers.ts
  e2e/tests/inbox-workflow.spec.ts
  e2e/tests/note-workflow.spec.ts
  e2e/tests/project-workflow.spec.ts
  e2e/tests/task-workflow.spec.ts
Due: none

test(e2e): improve test reliability and accessibility
  Makefile
  e2e/README.md
  e2e/fixtures/auto-cleanup.ts
  e2e/fixtures/test-helpers.ts
  e2e/tests/inbox-workflow.spec.ts
  e2e/tests/note-workflow.spec.ts
  e2e/tests/project-workflow.spec.ts
  e2e/tests/smoke.spec.ts
  e2e/tests/task-workflow.spec.ts
  frontend/src/components/ItemCard.tsx
  frontend/src/components/TaskList.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

test(e2e): improve test reliability and accessibility
  .pre-commit-config.yaml
  Makefile
  e2e/README.md
  e2e/fixtures/auto-cleanup.ts
  e2e/fixtures/test-helpers.ts
  e2e/tests/inbox-workflow.spec.ts
  e2e/tests/note-workflow.spec.ts
  e2e/tests/project-workflow.spec.ts
  e2e/tests/smoke.spec.ts
  e2e/tests/task-workflow.spec.ts
  frontend/src/components/ItemCard.tsx
  frontend/src/components/TaskList.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

test(e2e): improve test reliability and accessibility
  .pre-commit-config.yaml
  Makefile
  README.md
  e2e/README.md
  e2e/fixtures/auto-cleanup.ts
  e2e/fixtures/test-helpers.ts
  e2e/tests/inbox-workflow.spec.ts
  e2e/tests/note-workflow.spec.ts
  e2e/tests/project-workflow.spec.ts
  e2e/tests/smoke.spec.ts
  e2e/tests/task-workflow.spec.ts
  frontend/src/components/ItemCard.tsx
  frontend/src/components/TaskList.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

feat: filtering
  backend/app/api/v1/notes.py
  backend/app/api/v1/projects.py
  backend/app/api/v1/tasks.py
  backend/app/controllers/note_controller.py
  backend/app/controllers/project_controller.py
  backend/app/controllers/task_controller.py
  backend/app/repositories/note_repository.py
  backend/app/repositories/project_repository.py
  backend/app/repositories/protocols.py
  backend/app/repositories/task_repository.py
  backend/tests/unit/task_controller/test_list_tasks.py
  backend/tests/unit/test_note_controller.py
  backend/tests/unit/test_project_controller.py
  frontend/src/components/FilterBar.tsx
  frontend/src/components/TasksSection.tsx
  frontend/src/components/filters/CheckboxFilter.tsx
  frontend/src/components/filters/ContextFilter.tsx
  frontend/src/components/filters/DateFilter.tsx
  frontend/src/components/filters/ProjectFilter.tsx
  frontend/src/components/filters/StatusFilter.tsx
  frontend/src/components/filters/index.ts
  frontend/src/hooks/useFilters.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/routes/Home.test.tsx
  frontend/src/routes/Home.tsx
Due: backend-lint, backend-typecheck, backend-test, frontend-lint, frontend-typecheck, frontend-test

Path conditions:
  backend-lint: any of: ^backend/
  backend-typecheck: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-test: any of: ^frontend/
